@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  /* primary */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* gradients */
  --Light-slate-blue: hsl(252, 100%, 67%); /*(background)*/
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1); /*(circle)*/
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--Pale-blue);
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  background-color: var(--White);
  border-radius: 1rem;
}

header {
  color: var(--Light-lavender);
  padding: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--Light-slate-blue) 0%,
    var(--Light-royal-blue) 100%
  );
  border-radius: 1rem;
  flex: 1;
}

header h2 {
  font-size: 1.5rem;
}

.score {
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--Violet-blue) 0%,
    var(--Persian-blue) 100%
  );
  border-radius: 200rem;
  padding: 2rem;
  color: var(--White);
  margin: 2rem 0;
}

.score span:first-child {
  color: var(--White);
  font-size: 4rem;
  font-weight: 800;
}

.score span:last-child {
  color: var(--Light-lavender);
  font-size: 1rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  color: var(--White);
  margin-bottom: 1rem;
}
p {
  width: 85%;
}

.summary {
  padding: 2rem;
  background-color: var(--White);
  border-radius: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary div {
  width: 100%;
  margin-bottom: 2rem;
}

.summary h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.summary-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.summary-item img {
  margin-right: 0.5rem;
}

.summary-item:first-child {
  background-color: var(--Light-red);
  color: var(--Light-red);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.summary-item:nth-child(2) {
  color: var(--Orangey-yellow);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.summary-item:nth-child(3) {
  color: var(--Green-teal);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.summary-item:last-child {
  color: var(--Cobalt-blue);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text {
  color: var(--Dark-gray-blue);
  font-weight: 700;
}

.text span {
  font-weight: 700;
  color: var(--Dark-gray-blue);
  opacity: 0.5;
  margin-left: 0.5rem;
}

.text-category {
  font-weight: 700;
}

.text .strong {
  opacity: 1;
  margin-right: 0.4rem;
  color: #000;
  font-weight: 800;
}

.btn {
  width: 100%;
  padding: 1rem;
  border-radius: 25rem;
  background: var(--Dark-gray-blue);
  color: var(--White);
  font-weight: 700;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
  }

  header {
    color: var(--Light-lavender);
    padding: 1.5rem;
    margin: 0;
    border-radius: 0 0 2rem 2rem;
  }

  .score {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0;
  }

  .score span:first-child {
    font-size: 3rem;
  }

  .summary {
    width: 100%;
    padding-top: 1rem;
  }
  .summary div {
    margin-bottom: 1rem;
  }
}
